{% extends "layout.html" %}
{% block body %}

<!-- Page Header -->

<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='img/certificate.bg.png') }}')">

    <div class="container position-relative px-4 px-lg-5">

        <div class="row gx-4 gx-lg-5 justify-content-center">

            <div class="col-md-10 col-lg-8 col-xl-7">

                <div class="page-heading">

                    <h1>Certificates</h1>

                    <span class="subheading">
                        Proof that late nights and endless tabs actually paid off.
                    </span>

                </div>

            </div>

        </div>

    </div>

</header>

<!-- Certificates Section -->

<main class="mb-5">

    <div class="container px-4 px-lg-5">

        <div class="row">

            <!-- Certificate 1 -->

            <div class="col-md-4 mb-4">

                <div style="
                    background:white;
                    border-radius:15px;
                    padding:15px;
                    box-shadow:0 5px 15px rgba(0,0,0,0.1);
                    text-align:center;
                    height:100%;
                ">

                    <img src="{{ url_for('static', filename='img/certificates/data_analysis.jpeg') }}"
                         class="img-fluid rounded"
                         alt="DA Certificate">

                    <h5 style="margin-top:15px;">
                        Data Analysis with Python
                    </h5>

                    <p>Institute: IBM</p>

                    <a href="{{ url_for('static', filename='img/certificates/data_analysis.jpeg') }}"
                       target="_blank"
                       class="btn btn-primary">
                        View Certificate
                    </a>

                </div>

            </div>

            <!-- Certificate 3 -->

            <div class="col-md-4 mb-4">

                <div style="
                    background:white;
                    border-radius:15px;
                    padding:15px;
                    box-shadow:0 5px 15px rgba(0,0,0,0.1);
                    text-align:center;
                    height:100%;
                ">

                    <img src="{{ url_for('static', filename='img/certificates/python_cisco.jpeg') }}"
                         class="img-fluid rounded"
                         alt="Power BI Certificate">

                    <h5 style="margin-top:15px;">
                        Python Essentials 1
                    </h5>

                    <p>Institute: Cisco Academy</p>

                    <a href="{{ url_for('static', filename='img/certificates/python_cisco.jpeg') }}"
                       target="_blank"
                       class="btn btn-primary">
                        View Certificate
                    </a>

                </div>

            </div>
            <div class="col-md-4 mb-4">

                <div style="
                    background:white;
                    border-radius:15px;
                    padding:15px;
                    box-shadow:0 5px 15px rgba(0,0,0,0.1);
                    text-align:center;
                    height:100%;
                ">

                    <img src="{{ url_for('static', filename='img/certificates/sql_coursera.jpeg') }}"
                         class="img-fluid rounded"
                         alt="SQL Certificate">

                    <h5 style="margin-top:15px;">
                        Data Analysis Using SQL
                    </h5>

                    <p>Institute: Fractal University</p>

                    <a href="{{ url_for('static', filename='img/certificates/sql_coursera.jpeg') }}"
                       target="_blank"
                       class="btn btn-primary">
                        View Certificate
                    </a>

                </div>

            </div>

        </div>
        <div class="row">

            <!-- Certificate 4 -->

            <div class="col-md-4 mb-4">

                <div style="
                    background:white;
                    border-radius:15px;
                    padding:15px;
                    box-shadow:0 5px 15px rgba(0,0,0,0.1);
                    text-align:center;
                    height:100%;
                ">

                    <img src="{{ url_for('static', filename='img/certificates/railway.jpeg') }}"
                         class="img-fluid rounded"
                         alt="DA Certificate">

                    <h5 style="margin-top:15px;">
                        Railways Internship in S&T dept.
                    </h5>

                    <p>Organisaton: ECR</p>

                    <a href="{{ url_for('static', filename='img/certificates/railway.jpeg') }}"
                       target="_blank"
                       class="btn btn-primary">
                        View Certificate
                    </a>

                </div>

            </div>

            <!-- Certificate 5 -->

            <div class="col-md-4 mb-4">

                <div style="
                    background:white;
                    border-radius:15px;
                    padding:15px;
                    box-shadow:0 5px 15px rgba(0,0,0,0.1);
                    text-align:center;
                    height:100%;
                ">

                    <img src="{{ url_for('static', filename='img/certificates/tinkercad.jpeg') }}"
                         class="img-fluid rounded"
                         alt="SQL Certificate">

                    <h5 style="margin-top:15px;">
                        TinkerCAD
                    </h5>

                    <p>Institute: Udemy</p>

                    <a href="{{ url_for('static', filename='img/certificates/tinkercad.jpeg') }}"
                       target="_blank"
                       class="btn btn-primary">
                        View Certificate
                    </a>

                </div>

            </div>

            <!-- Certificate 6 -->

            <div class="col-md-4 mb-4">

                <div style="
                    background:white;
                    border-radius:15px;
                    padding:15px;
                    box-shadow:0 5px 15px rgba(0,0,0,0.1);
                    text-align:center;
                    height:100%;
                ">

                    <img src="{{ url_for('static', filename='img/certificates/matlab.jpeg') }}"
                         class="img-fluid rounded"
                         alt="Power BI Certificate">

                    <h5 style="margin-top:15px;">
                        Introduction to Prog. with MATLAB
                    </h5>

                    <p>Institute: Vanderbuilt University</p>

                    <a href="{{ url_for('static', filename='img/certificates/python_cisco.jpeg') }}"
                       target="_blank"
                       class="btn btn-primary">
                        View Certificate
                    </a>

                </div

            </div>

        </div>
        <div class="row">

            
            </div>

            <!-- Certificate 5 -->

            <div class="col-md-4 mb-4">

                <div style="
                    background:white;
                    border-radius:15px;
                    padding:15px;
                    box-shadow:0 5px 15px rgba(0,0,0,0.1);
                    text-align:center;
                    height:100%;
                ">

                    <img src="{{ url_for('static', filename='img/certificates/embedded.jpeg') }}"
                         class="img-fluid rounded"
                         alt="SQL Certificate">

                    <h5 style="margin-top:15px;">
                        Introduction to IoT and Embedded Systems
                    </h5>

                    <p>Institute: University of California,Irvine</p>

                    <a href="{{ url_for('static', filename='img/certificates/embedded.jpeg') }}"
                       target="_blank"
                       class="btn btn-primary">
                        View Certificate
                    </a>

                </div>

            </div>

              </div
                
            </div>

        </div>
        

    </div>

</main>

{% endblock %}